* {
  margin:0px;
  padding:0px;
}

p {
  display: block;
  width: 700px;
  margin: 30px auto;
  font: 20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#chatbot{
  width: 15%;
  margin-left: 260px;
}

#robocamp{
  width: 20%;
  padding-bottom: 30px;
}

#lab{
  width: 30%;
  padding-bottom: 15px;
}
